<style>
    .field.categories-field h3 {
    margin-bottom: 7px;
  }
  
  .categories-container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(150px, auto)); 
    gap: 10px; 
  }
  
  .category-checkbox {
    display: flex; 
    align-items: center; 
  }
  
  .category-checkbox input[type="checkbox"] {
    margin-right: 5px; 
  }
</style>
<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.rich_textarea :body %>
  </div>
  <div>
        <%= form.file_field :hero_image, accept: "image/*" %>
  </div>

  <div class="field categories-field">
    <h3>Categories</h3>
    <div class="categories-container">
      <%= form.collection_check_boxes :category_ids, @categories, :id, :name do |cb| %>
        <div class="category-checkbox">
          <%= cb.check_box %>
          <%= cb.label %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
