
<div class="post-content">
    <h2 class="post-title"><%= post.title %></h2>
    
    <div class="post-meta">
        <span class="post-author">
          <%= post.user.email_address %>
        </span>
        <span class="post-date">
          <%= time_tag post.updated_at, "data-local": "time", "data-format": "%d %B %Y" %>
        </span>
        <div class="post-tags">
          <% post.categories.each do |category| %>
            <span class="tag">
              <%= category.name %>
            </span>
          <% end %>
        </div>
    </div>
    <%= image_tag post.hero_image, style: 'max-width: 100%' if post.hero_image.attached? %>
    <p class="post-excerpt">
      <% plain_text = post.body.to_plain_text %>
      <% if controller.action_name == 'index' and plain_text.length > 700 %>
        <%= "#{plain_text[0..700]} . . . . . . . " %>
      <% else %>
        <%= post.body %>
      <% end %>
    </p>
    <a href="<%= post_path(post) %>" class="read-more">Read More</a>

    
    <!-- Comments Section -->
    <div class="comments-section">
      <div class="comments-header">
          <h3 class="comments-title">Comments</h3>
          <span id="<%= dom_id(post) %>_comments_count" class="comments-count">
            <%= post.comments.size %>
          </span>
      </div>
      <% if post.comments.size > 0 %>             
        <div style="margin-bottom: 1.5rem;">
          <%= render "comments/comments", post: post %>
        </div> 
      <% end %>
    </div>
    
    <p>
      <%= render "comments/new", post: post %>
    </p>
  
</div>